/* 定义一组颜色 */
:root {
  /* 主要的背景色 */
  --blog-light-primary-background: #ffffff;
  --blog-dark-primary-background: rgba(60, 60, 60, 0.29);

  /* 比较浅的背景色 */
  --blog-light-shallow-background: rgba(244,246,248, 1);
  --blog-dark-shallow-background: rgba(60, 60, 60, 0.1);

  /* 标题的文字颜色 */
  --blog-light-title-text: #222226;
  --blog-dark-title-text: #ffffff;

  /* 简介（说明）的文字颜色 */
  --blog-light-intro-text: #555666;
  --blog-dark-intro-text: #E5EAF3;
}

/* 白昼模式下固定变量的颜色取值 */
:root {
  --background-color-primary: var(--blog-light-primary-background);
  --background-color-shallow: var(--blog-light-shallow-background);
  --text-color-title: var(--blog-light-title-text);
  --text-color-intro: var(--blog-light-intro-text);
}

/* 暗夜模式下固定变量的颜色取值 */
html.dark {
  --background-color-primary: var(--blog-dark-primary-background);
  --background-color-shallow: var(--blog-dark-shallow-background);
  --text-color-title: var(--blog-dark-title-text);
  --text-color-intro: var(--blog-dark-intro-text);
  /* :root {
    
  } */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  /* font-weight: normal; */
}

body {
  min-height: 100vh;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}